/* Master styles */
body {
    font-family: 'HK Grotesk', 'Helvetica', sans-serif;
    margin: 0px;
    background-color: #dcdcdc;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    /*background-color:#001f3f;*/
    background-color: #222222;
    font-size: 1.2em;
    /*color: hsla(210, 100%, 75%, 1.0);*/
    color: #CFD8DC;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 0.5px solid #CFD8DC;
}

.nav-link-wrapper a:hover {
    color: #CFD8DC;
}

.active-nav-link {
    border-bottom: 1px solid #CFD8DC;
}

.active-nav-link a {
    color: #CFD8DC !important;
}

.github-link a {
    display: flex;
    text-decoration: none;
}

/* Portfolio styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    size: 50%;
    position: relative;
}

.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    color: whitesmoke;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.img-lighten {
    transition: 0.5s;
    filter: brightness(100%);
}

/* About page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    padding-top: 30px;
    padding-left: 80px;
    width: 70%;
    border-radius: 40%;
}

.profile-content-wrapper { 
    margin-top: 125px;
    border-radius: 25px;
    padding: 30px;
    border: 3px solid darkgray;
    padding: 20px;
    width: 450px;
    height: 300px;
}

.profile-content-wrapper h1 {  
    color: black;  
}

.profile-content-wrapper p {
    font-size: larger;
}

/* Contact page */
.contact-items-wrapper {
    margin: 20px auto;
    width:400px;
    height:400px;
    background-color:#dcdcdc;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.contact-item-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}
.contacts-logo img {
    width: 150px;
    height: auto;
    display: inline-block;
    border-radius: 60px;
    border: 2px solid #888;
    padding: 0.5em 0.6em;
}

.contact-info p {
    padding-top: 30px;
    padding-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}


.footer {
    /*
    padding-bottom: 20px;
    padding-left: 40px;
    */
    position: fixed;
    left: 40px;
    bottom: 20px;
}